<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <title>STORYBOOKS | login</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="grey darken-3">
      <div class="nav-wrapper container">
  
          <a href="#!" class="brand-logo center">StoryBooks</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
          <ul class="sidenav" id="mobile-demo">
              <li><a href="/stories">Public Stories</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/auth/logout">Logout</a></li>
          </ul>
      </div>
  </nav>
